body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

.navbar {
    margin-bottom: 20px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: #343a40;
}

footer p {
    margin-bottom: 10px;
}

.footer {
    background: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.mt-5 {
    margin-top: 3rem !important;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
